/*  */
@import 'bootstrap-icons/font/bootstrap-icons.css';


/* CSS Reset padrão */

/* Remove margens, padding e bordas padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte secundária */
body {
    line-height: 1;
    font-family: sans-serif;
    background-color: rgb(235, 225, 244);
}

body,
p {
    font-family: 'Open Sans', sans-serif;

}

/* Fonte principal */
h1,
h2,
h3 {
    font-family: 'League Spartan', sans-serif;
}

/* Define borda zero para elementos que possuem borda por padrão */
*:focus {
    outline: none;
}

/* Remove estilos padrão de listas */
ol,
ul {
    list-style: none;
}

/* Remove estilos padrão de links */
a {
    text-decoration: none;
    color: inherit;
}


/* Define altura base para imagens e vídeos */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Optional Card animation ----------- */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    line-height: 1.5;
}

.card-text {
    font-size: 0.9rem;
}

.btn-outline-primary {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
}

/* ------------------------------ */

/* Botão padrão que direciona para outras seções */

/* Agrupando os seletores para simplificar */
a:link,
a:visited,
a:active,
.btn-link {
    text-decoration: none;

}

.container-btn-link {
    width: 100%;
}

/* Subtitle section */
.sub-title {
    color: #4c4d4f;
    font-size: 1.4rem;
}


/* Estilo do botão */
.btn-link {
    min-width: 15%;
    padding: 1.3rem 2rem;
    border: 2px solid transparent;
    color: white;
    background-color: #7447e1;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 1px;

}

/* Efeito de hover */
.btn-link:hover {
    background-color: white;
    color: #7447e1;
    border-color: #7447e1;
    /* Modifica a cor da borda durante o hover */
}


/* Container principal de margem */
/* .container-main {
    width: 90%;
    margin: 0 auto;
} */

.container-main {
    padding: 3rem 2rem;
}

/* ----------------------------------------- */

/* header - Section */


.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}


.navbar-brand {
    font-weight: 500;
    color: #7447e1;
    font-size: 24px;
    transition: 0.3s color;
}


.login-button {
    background-color: #7447e1;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}


.login-button:hover {
    background-color: #5a34b3;
}


.navbar-toggler {
    border: none;
    font: 1.25rem;
}


.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}


.nav-link {
    font-weight: 500;
    color: #666777;
    margin: 0 15px;
    transition: 0.3s color;
    position: relative;
}


.nav-link:hover, .nav-link.active {
    color: #000000;
}


@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #7447e1;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
        transition: 0.3s ease-in-out;
    }
}


/* Hero - Section */


.hero-section {
    background: url(../img/header-image-png.png) no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}


.hero-section::before {
    /* background-color: rgba(0, 0, 0, 0.6); Transparência ajustada */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}


.hero-section .container {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.destaque {
    color: #7447e1;
}


.hero-section h1 {
    font-size: 4.5rem;
    margin-top: -0px;
    color: black;
}


@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2rem;
    }
    .hero-section h2 {
        font-size: 1.5rem;
    }
}


.btn {
    padding: 15px 30px; /* Botões maiores */
    font-size: 18px; /* Texto maior */
    font-family: 'League Spartan', sans-serif;
    border-radius: 12px; /* Bordas mais arredondadas */
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-weight: bold;
}


/* Botão preenchido */
.btn-filled {
    background-color: #7447e1; /* Roxo preenchido */
    color: #ffffff; /* Texto branco */
    border: 2px solid #7447e1; /* Cantos arredondados */
    padding: 10px 25px;
    font-size: 1.2em;
}


.btn-filled:hover {
    background-color: #5a34b3; /* Roxo preenchido */
    color: #ffffff; /* Texto branco */
    border: 2px solid #5a34b3; /* Cantos arredondados */
    padding: 10px 25px;
    font-size: 1.2em;
}


/* Botão vazado */
.btn-outline {
    color: #7447e1; /* Roxo do texto e ícone */
    border: 2px solid #7447e1;
    padding: 10px 25px;
    font-size: 1.2em;
    background-color: #ffffff7c;
}


.btn-outline:hover {
    background-color: #7447e1; /* Fica preenchido no hover */
    border-color: #7447e1;
    color: #fff;
}


/* Serviços - Section */
.servicos {
    width: 100%;
    background: rgb(225, 215, 236);
    padding: 4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.input-group .icon {
    font-size: 1.2em;
    margin-right: 10px;
    color: rgb(160, 73, 197);
}

input {
    border: none;
    flex: 1;
    font-size: 1em;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

.servico-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {

    width: 30%;
    padding: 10px;
    background: rgb(160, 73, 197);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: transparent;
    color: rgb(160, 73, 197);
    border: 3px solid rgb(160, 73, 197);

}

/* Portifolio - Section */
.portifolio {
    background-color: rgb(209, 188, 230);
    gap: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portifolio-box {
    width: 370px;
    height: 270px;
    background-color: rgb(162, 123, 201);
    border-radius: 10px;
    font-size: 3rem;
    color: #fffbfb;
}

.middle {
    height: 340px;
    width: 400px;
    background-color: rgb(134, 90, 179);
}

/* Top Veículos - Section */

.top-veiculos {
    gap: 2rem;
    padding: 2rem;
}

.title-veiculos {
    color: #552eaf;
    font-size: 3rem;
}


.box-top-veiculos {
    height: 100%;
}

.card.vehicle-card {
    background-color: #e0dcea;
    /* Altere a cor para o que preferir */
    border-radius: 8px;
    /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.top-veiculos-img {
    height: 100%;
    padding: 2rem;
}

.title-card-veiculo {
    font-size: 2rem;
    color: #525151;
    font-family: 'League Spartan', sans-serif;
}

.price-card {
    color: #525151;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.disponivel {
    font-size: 1.16rem;
    color: #7447e1;
}

/* Vantagens  - Section */
/* Estilos personalizados */
.car-image {
    max-width: 100%;
    height: auto;
}

.info-section {
    padding: 50px 0;
}

.title-vantagem {
    font-size: 3rem;
    color: #7447e1;
    margin-bottom: 1rem;


}

.subtitle-vantagem {
    color: #6c757d;
    font-family: sans-serif;
    font-size: 1.3rem;
    line-height: 26px;
    margin-bottom: 2.5rem;
    letter-spacing: 1px;
    /* Text-muted */
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: 3rem;
}

.title-feature-vantagem {
    color: #414040;
    font-size: 1.3rem;

}

.feature-content-vantagem p {
    line-height: 23px;
}

.feature i {
    font-size: 1.8rem;
    color: #7447e1;
    margin-right: 10px;
    align-self: flex-start;
}

.btn-about {
    background-color: #7447e1;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.btn-about:hover {
    background-color: #7447e1;
}

/* Seleção - Section */
/* Section Styles */
.selecao {
    background: rgb(225, 215, 236);
    gap: 2rem;
    padding: 2rem;
}


.title-selecao {
    color: #552eaf;
    font-size: 3rem;
}


/* Card Styles */
.card {
    background-color: #e0dcea;
    padding: 0.7rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Initial shadow */
    transition: box-shadow 0.5s cubic-bezier(0.25, 1, 0.5, 1), transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    /* Smooth animation with easing */
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* Larger shadow on hover */
    transform: translateY(-10px);
    /* Lift card slightly */
}

/* Card Content Styles */
.card-selecao {
    padding: 2rem;
}

.box {
    transition: opacity 0.8s ease, transform 0.8s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(50px);
}

.card-text {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.7rem;
    color: #552eaf;
}

.box-space {
    padding: 4rem 4rem 4rem 3rem;
}

/* Arrow Styles */
.arrow {
    font-size: 24px;
    color: #552eaf;
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    /* Smooth transition for arrow */
}

/* Card hover - activate bouncing effect */
.card:hover .arrow {
    animation: bounce 0.8s infinite alternate cubic-bezier(0.25, 1, 0.5, 1);
}

/* Bouncing Keyframes */
@keyframes bounce {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(8px);
        /* Slightly reduced distance for smoothness */
    }
}

/* Marcas - Section */
.marcas {
    background-color: rgb(234, 232, 234);
}

.box-marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;


}

.box-item-marcas {
    display: flex;
    justify-content: center;

}

/* Depoimentos - Section */
.testimonial-section {
    background-color: rgb(134, 90, 179);
    text-align: center;
    padding: 4rem 1rem;

}

.testimonial-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(234, 227, 243);

}

.testimonial-section p {
    color: rgb(234, 227, 243);
    margin-bottom: 2rem;
}

.testimonial-card {
    background-color: rgb(242, 238, 245);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.testimonial-card h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #596168;
}

.testimonial-card p {
    color: #6c757d;
    font-size: 0.9rem;
}

.quote-icon {
    font-size: 2rem;
    color: rgb(160, 73, 197);
}

.navigation-icons {
    margin-top: 1rem;
}

.navigation-icons i {
    font-size: 1.5rem;
    color: rgb(160, 73, 197);
    cursor: pointer;
    margin: 0 0.5rem;
}

.navigation-icons i:hover {
    color: rgb(160, 73, 197);
}

/* Efeito de hover nos cards de depoimentos */
.testimonial-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
}

.testimonial-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Personalização da imagem do card */
.testimonial-card img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.testimonial-card:hover img {
    transform: scale(1.1);
}

/* Efeito na citação */
.testimonial-card .quote-icon {
    font-size: 2rem;
    color: #6c757d;
    transition: color 0.3s ease;
}

.testimonial-card:hover .quote-icon {
    color: #007bff;
}

/* Artigos - Section */
.artigos {
    /* background-color: rgb(209, 188, 230); */
    background-color: rgb(245, 245, 245);
    gap: 2rem;
    padding: 2rem;

}

.title-artigos {
    font-size: 3rem;
    color: #552eaf;
    margin-bottom: 1rem;
}

.subtitle-artigos {
    color: #4c4d4f;
    font-size: 1.4rem;
}

.card-blog {
    height: 100%;
    background-color: #ececec;
    border: 10px solid transparent;
    color: #552eaf;
    box-sizing: border-box;
    /* transition: all 0.2s ease-in-out; */
    transition: background-color 0.3s ease, border 0.3s ease-in;
    /* Transição suave */
}

.card-blog:hover {
    border: 10px solid #8d65eb;
    background-color: white;
}

.card-title-blog {
    font-size: 1.5rem;
    margin-top: 1.5rem;

}


.card-text-blog {
    margin-top: 1.4rem;
    color: #a3a5a8;
    line-height: 25px;
    font-size: 1.25rem;

}

/* Contato - Section */
.contato {
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(249, 244, 254);
}

.contato-title {
    color: #888787;
}

/* Footer - Section */
.footer {
    height: 9rem;
    background-color: rgb(160, 73, 197);
    gap: 2rem;
    padding: 2rem;
}

.footer-title {
    color: rgb(241, 229, 246);
}
